{% extends 'mailing/base.html' %}

{% block title %}Управление рассылками{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <section class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Рассылки</h1>
                <p>
                    <a class="btn btn-primary" href="{% url 'mailing:newsletters_create' %}" role="button">Добавить
                        Рассылку</a>
                </p>
            </div>
        </div>
    </section>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Дата и время первой отправки</th>
            <th scope="col">Дата и время окончания отправки</th>
            <th scope="col">Статус</th>
            <th scope="col">Сообщение</th>
            <th scope="col">Получатели</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for newsletter in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ newsletter.start_time }}</td>
            <td>{{ newsletter.end_time }}</td>
            <td>{{ newsletter.get_status_display }}</td>
            <td>{{ newsletter.message }}</td>
            <td>
                {% if newsletter.recipients.all %}
                {{ newsletter.recipients.all|join:", " }}
                {% endif %}
            </td>
            <td>
                <a class="btn btn-outline-primary" href="{% url 'mailing:newsletters_detail' newsletter.pk %}" role="button">Посмотреть</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}